/** iphone 6 portrait**/
@media screen and (min-width: 375px) {
	
	.parking-head h2, .form-data h2 {
		font-size: 2.5em;
		font-weight: 700;
	}

	/** header **/

	.header-main h1 {
		font-size: 2.4em;
	}

	.header-main p {
		font-size: 1.2em;
	}

	/** lectures **/

	.lectures-head h2 {
		font-size: 1.7em;
	}

	.lectures-head p {
		font-size: 1.15em;
	}

	.head h3 {
		font-size: 1.2em
	}

	/** parking **/

	.parking-head h3 {
		font-size: 1.3em;
	}

	.parking-main p, .parking-last h4 {
		font-size: 1.3em;
	}

	.parking-last li {
		font-size: 1.2em;
	}
	
	/** sign-up **/

	.form-head h3 {
		font-size: 1.2em;
		padding-top: 0px;
		margin-top: 20px;
	}
	
	/** reference **/

	.reference h3 {
		font-size: 1.2em;
	}

	.reference p {
		font-size: .9em;
	}
}

/** IPhone 6, NEXUS 5X Portrait **/
@media screen and (min-width: 400px) {
	
	.parking-head h2, .form-data h2 {
		font-size: 2.7em;
	}

	/** header **/

	.header-main h1 {
		font-size: 2.6em;
	}

	.header-main p {
		font-size: 1.4em;
	}

	/** lectures **/
	
	.lectures-head h2 {
		font-size: 1.8em;
	}

	.head h3 {
		font-size: 1.4em
	}

	.info p {
		font-size: 1.1em;
	}

	/** parking **/

	.parking-head h3 {
		font-size: 1.6em;
	}

	.parking-main p, .parking-last h4 {
		font-size: 1.4em;
	}

	.parking-last li {
		font-size: 1.3em;
	}
	
	/** sign-up **/

	.form-data p {
		font-size: 1.2em;
	}
	
	label {
		font-size: 1.4em;
	}

	/** reference **/
	
	.reference h2 {
		font-size: 2.3em;
	}
	
	.reference h3 {
		font-size: 1.3em;
	}

	.reference p {
		font-size: 1em;
	}

	/** absolute images **/

	.robot-car {
		width: 110px;
		right: 10px;	
	}
	
}

/** IPhone 5 Landscape **/
@media only screen and (min-width: 550px) and (orientation:landscape){
	
	/** lectures **/
	
	.lectures-head h2 {
		font-size: 2.4em;
	}

	.container, .container:last-child {
		width: 70%;
		margin: -15px auto;
	}

	.container img {
		transform: translateY(40px);
	}

	.head::before {
		display: none;
	}

	.info .par {
		font-size: 1em;
	}

	.lectures > .main-wrapper {
		width: 90%
	}

	/** parking **/

	.parking-main, .parking-last {
		display: flex;
		justify-content: space-between;
	}

	/** absolute images **/

	.robot {
		width: 200px;
		right: 0;
	}

	.robot-car {
		width: 90px;
	}
}

/** IPhone 6, NEXUS 5X Landscape **/
@media only screen and (min-width: 660px) and (orientation:landscape){
	
	.lectures-head h2 {
		font-size: 2.7em;
	}

	.info .par {
		font-size: 1em;
	}

	.robot {
		width: 200px
	}

	.robot-car {
		width: 90px;
	}
}


/** Ipad **/
@media  only screen and (min-width: 760px) { 
	
	.lectures-head, .parking-main, .parking-last {
		display: flex;
		justify-content: space-between;
	}

	/** header **/

	.header-top h1 {
		display: block;
		transition: margin .5s;
	}

	.header-main {
		padding-left: 5%;
	}

	.header-main h1 {
		font-size: 3.3em;
	}

	.header-main p {
		font-size: 1.6em
	}

	/** lectures **/

	.lectures-head {
		align-items: baseline;
	}

	.lectures-head + hr {
		margin: 2px 0 20px 0;
	}

	.container .par {
		font-size: 1.1em;
	}

	.container, .container:last-child {
		width: 70%;
		margin: 0 auto 20px;
	}

	.head::before {
		display: block;
		left: 150px;
	}

	/** parking **/

	.parking > .main-wrapper {
		width: 65%;
		margin-left: 5%;
	}

	/** reference **/
	
	figure {
		width: 24%;
	}

	/** footer **/

	.footer-top {
		display: block;
		position: relative;
	}

	.footer-main {
		position: relative;
	}

	/** absolute images **/
	
	.robot {
		width: 200px;
	}

	.robot-car {
		width: 190px;
		right: 10px;
		bottom: -10px;
	}

	.back-top, .hi-robot {
		position: absolute;
	}

	.back-top {
		width: 60px;
		top: -30px;
		right: 20px;
	}

	.hi-robot {
		width: 120px;
		right: 80px;
		top: -60px;
	}
}

/** min-width 800px **/
@media screen and (min-width: 800px) {
	
	.lectures-main {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.parking-main p, .parking-last h4 {
		font-size: 1.1em;
	}
	
	/** display: none **/
	
	.waze {
		display: none;
	}


	/** header **/

	.header-top {
		justify-content: center;
		padding: 5px 0;
	}

	.header-top h1 {
		margin-left: 200px;
	}

	.logo img{
		width: 150px;
	}

	.hamburger {
		display: none;
	}

	nav ul {
		height: 242px;
		width: 200px;
		top: 50px;
	}

	nav:hover > ul {
		height: 242px;
	}

	nav ul > li {
		font-size: 1em;
	}

	.header-main {
		padding: 50px 0 50px 5%;
	}

	.header-main p {
		font-size: 1.5em;
	}

	/** lectures **/

	.lectures-head p {
		font-size: .9em;
	}

	.container, .container:last-child {
		width: 31%;
	}

	.container img {
		transform: translateY(0);
	}

	.head:before {
		left: 60px;
	}

	.info h3 {
		font-size: 1em;
	}

	.head p {
		font-size:.9em;
	}

	.container .par {
		font-size: 1em;
	}

	/** parking **/
	
	.parking-last div {
		width: 48%;
	}

	.parking-last li {
		font-size: 1em;
	}

	.parking-content {
		width: 50%;
	}

	.parking > .main-wrapper {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.box {
		display: block;
		width: 300px;
		height: 300px;
		background: url(../img/icons/map.jpg) no-repeat center;
		background-size: cover;
	}

	/** sign-up **/
	
	.form-data > .main-wrapper {
		width: 50%;
		margin-left: 5%;
	}

	.form-data p {
		margin: 0;
	}

	label {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	[type="text"], .form-data [type="submit"] {
		width: 70%;
		border-radius: 2px;
	}

	.form-data [type="submit"] {
		float: right;
	}

	.form-data::after {
		content: '';
		display: table;
		clear: both;
	}

	/** absolute images **/
	
	.robot {
		width: 250px;
		right: 250px;
	}

	.robot-car {
		width: 150px;
		right: 10px;
	}
}
