/** FONTS **/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/** GENERAL **/

* {
	box-sizing: border-box;
}

body, div, section, nav, ul, img, h1, h2, h3, p, a, span {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a {
	color: black;
	display: inline-block;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

body {
	font: 1em/1.5 'Roboto';
}

/** Display: none **/

.top-header h1, .parking h2 > span {
	display: none;
}

/** top-header **/

.top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

nav {
	cursor: pointer;
	padding: 25px 0;
}

.hamburger {
	margin-top: 2px;
}

.floor, .floor::after, .floor::before {
	height: 4px;
	width: 42px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: rgb(67, 64, 64);
	position: relative;
}

.floor {
	transition: width .5s, background .3s;
}

.floor::after, .floor::before {
	content: '';
	position: absolute;
}

.floor::after {
	top: -8px;
}

.floor::before {
	top: 8px;
}

.logo img {
	width:110px;
}

nav ul {
	position: absolute;
	background-color: white;
	left: 0;
	top: 61px;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height .5s;
}

nav > ul li {
	font-size: 1.3em;
	padding: 5px 10px;
	border: 1px solid;
	border-top: none;
	cursor: pointer;
}

/**	main-header **/

.main-header {
	padding: 20px;
	border-bottom: 15px solid rgb(88, 87, 69);
}

.main-header h1 {
	font-size: 2em;
	text-shadow: -1px 1px 2px black;
}

.main-header p {
	font-size: 1em;
	font-weight: 600;
}

/** MAIN **/

.main-wrapper {
	width:80%;
	margin: 0px auto;
}

/** lecturers **/

.lectures {
	padding: 20px 0;
}

/** lectures-info **/

.lectures-head h2 {
	font-size: 1.3em;
}

.lectures-head p {
	background: url('../img/clock.png') left no-repeat;
	background-size: 20px 20px;
	padding-left: 25px;
	font-weight: bold;
}

.container {
	margin-bottom: 20px;
}

.container:last-child {
	margin: 0;
}

.container img {
	display: block;
	border-radius: 10px 10px 0 0;
	width: 80%;
	margin: 0 auto;
}

.info {
	border-radius: 15px;
	padding: 10px;
	border: 1px solid;
}

.head {
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	position: relative;
}

.head h3 {
	font-size: 1.05em
}

.container p + p {
	margin-top: 10px;
}

/** parking **/

.parking, .form-data {
	box-shadow: inset 0px .2px 1px rgba(0,0,0,.4);
	padding: 20px 0;
}

.parking h2 {
	font-size: 2em;
}

.parking h2 > span {
	display: none;
}

.location {
	background: url(../img/road.png) left no-repeat;
	background-size: 20px;
	padding-left: 25px;
}

.parking-main p {
	font-size: 1.2em;
	font-weight: bold;
}

.parking-main p > span {
	font-size: 2em;
	display: inline-block;
	padding-left: 20px;
}

.parking-main p:last-child > span {
	padding-left: 30px;
}

.parking ol {
	padding-left: 20px;
}

/*** sign-up ***/

.form-data h2 {
	margin-bottom: 10px;
}

.form-data h3 {
	font-weight: 500;
	font-size: 1.05em;
}

.form-data p {
	font-size: .9em;
	margin-top: 10px;
}

form {
	margin-top: 20px;
}

label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	font-size: 1.2em;
}

[type="text"] {
	padding: 15px 10px;
	font-size: 1em;
	box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,.6);
	border-radius: 7px;
}

.form-data [type="submit"] {
	border: none;
	width: 100%;
	padding: 15px 10px;
	font-size: 1.3em;
}


/*** PSUEDO-CLASSES ***/

nav:hover > ul{
	height: 252px;
}

nav:hover .floor {
	width:50px;
	background-color: white;
}

nav > ul li:hover {
 	background-color: rgb(225, 200, 47);
 }


/**	PSUEDO-ELEMENTS ***/

.head::before {
	content: '';
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 25px solid rgb(109, 170, 197);
	position: absolute;
	top: -24px;
	left: 30px;
}


/** COLORS **/
 
 .top-header, .current, footer {
	background-color: rgb(28, 27, 27);
 }

 nav > ul li, .main-header p {
 	color: rgb(28, 27, 27);
 }

 .main-header {
 	background-color: rgb(148, 147, 129);
 }

 .main-header h1 {
 	color: white;
 }

 .top-header, .nav li {
	color: white;
 }

 .lectures {
 	background-color: rgb(240,240,240);
 }

 .head {
 	background-color: rgb(109, 170, 197);
 }

 .parking {
 	background-color: rgba(148, 149, 135, .3);
 	color: rgb(69, 69, 69);
 }

 .form-data {
	background-color: rgb(149, 150, 136);
 }

 .form-head h2 {
 	color: rgb(225, 200, 47);
 	font-weight: 500;
 }

 .form-data h3, .form-data p {
 	color: white;
 }

 label, .form-data [type="submit"] {
 	color: white;
 }

 .form-data [type="submit"] {
 	background-color: #4d4d4d;
 }
