/** FONTS **/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');

/** GENERAL STYLE-SHEET **/

* {
	box-sizing: border-box;
}

body, div, section, nav, ul, img, h1, h2, h3, h4, p, a, span, figure {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a {
	color: black;
	display: inline-block;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

body {
	font: 1em/1.5 'Roboto';
}

/******* Default STYLE-SHEET *******/

.parking, .form-data, .reference {
	box-shadow: inset 0px .2px 1px rgba(0,0,0,.4);
	padding: 20px 0;
}

.parking-head h2, .form-data h2 {
	font-size: 2.2em;
	font-weight: 600;
}

.footer-main, .reference-main {
	display: flex;
	justify-content: space-between;
}

/** display: none Elements **/

.header-top h1, .parking h2 > span, .footer-top, .box, .robot-2  {
	display: none;
}


/** HEADER **/

/** header-top **/

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

nav {
	cursor: pointer;
	padding: 25px 0;
}

.hamburger {
	margin-top: 2px;
}

.floor, .floor::after, .floor::before {
	height: 4px;
	width: 42px;
	margin-bottom: 5px;
	border-radius: 5px;
	position: relative;
}

.floor {
	transition: width .5s, background .3s;
}

.floor::after, .floor::before {
	content: '';
	position: absolute;
}

.floor::after {
	top: -8px;
}

.floor::before {
	top: 8px;
}

.logo img {
	width:110px;
}

nav ul {
	position: absolute;
	background-color: white;
	right: 0;
	top: 61px;
	width: 100%;
	height: 0;
	box-shadow: 1px 1px 5px black;
	overflow: hidden;
	transition: height .5s;
	z-index: 1;
}

nav > ul li {
	font-size: 1.3em;
	padding: 5px 10px;
	border: 1px solid;
	border-top: none;
	cursor: pointer;
}

nav ul li > a {
	width: 100%;
}

.direction {
	border: none;
}

/**	header-main **/

.header-main {
	padding: 20px;
	border-bottom: 15px solid rgb(88, 87, 69);
	position: relative;
}

.header-main h1 {
	font-size: 2em;
	text-shadow: -1px 1px 2px black;
}

.header-main p {
	font-size: 1em;
	font-weight: 600;
}


/** MAIN **/

.main-wrapper {
	width:90%;
	margin: 0px auto;
}

h4 + hr {
	margin-top: 4px
}

/** lectures **/

.lectures {
	padding: 20px 0;
}

/** lectures-main **/

.lectures-head h2 {
	font-size: 1.2em;
}

.lectures-head p {
	background: url('../img/icons/clock.png') left no-repeat;
	background-size: 20px 20px;
	padding-left: 25px;
	font-weight: bold;
}

.container {
	margin-bottom: 20px;
}

.container:last-child {
	margin: 0;
}

.container img {
	display: block;
	border-radius: 10px 10px 0 0;
	width: 80%;
	margin: 0 auto;
}

.info {
	border-radius: 15px;
	padding: 10px;
}

.head {
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	position: relative;
}

.head h3 {
	font-size: 1.05em
}

.container p + p {
	margin-top: 10px;
}

/** parking **/

.parking {
	position: relative;
}

.location {
	background: url(../img/icons/road.png) left no-repeat;
	background-size: 20px;
	padding-left: 25px;
}

.parking-head h3 {
	font-size: 1.25em;
}

.parking-main p {
	font-size: 1.2em;
	font-weight: bold;
}

.parking-main p > span {
	font-size: 2em;
	display: inline-block;
	padding-left: 20px;
}

.parking-main p:last-child > span {
	padding-left: 30px;
}

.parking ol {
	padding-left: 20px;
}

/*** sign-up ***/

.form-data h2 {
	margin-bottom: -15px;
}

.form-data h3 {
	font-size: 1.05em;
	background: url(../img/icons/important.png) no-repeat left;
	background-size: 25px;
	padding: 25px 0 0 30px
}

.form-data p {
	font-size: .9em;
	margin-top: 10px;
}

form {
	margin-top: 20px;
}

label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	font-size: 1.2em;
}

[type="text"] {
	padding: 15px 10px;
	font-size: 1em;
	border: none;
	box-shadow: inset .5px .5px 2px 1px rgba(0,0,0,.6);
	border-radius: 4px;
}

.form-data [type="submit"] {
	border: none;
	width: 100%;
	padding: 15px 10px;
	font-size: 1.3em;
	border-radius: 2px;
	transition: color .5s, transform .5s;
	cursor: pointer;
}

/*** reference ***/

.reference-head {
	margin-bottom: 20px;
}

.reference h2 {
	font-size: 1.7em;
}

.reference-main {
	flex-wrap: wrap;
}

figure {
	width: 48%;
	margin: 0 auto 20px;
}

figure img{
	border-radius: 10px;
	height: 115.2px;
	display: block;
	margin: 0 0 10px;
}

figcaption h3 {
	font-size: 1em;
}

figcaption p {
	font-size: .8em;
}


/*** FOOTER ***/

.footer-top, .footer-main {
	padding: 10px 5%;
}

.footer-top h2 {
	font-size: 2em;
	font-weight: 400;
}

.footer-main {
	align-items: center;
}

.logo-footer img {
	width: 130px;
}

.back-top {
	width: 40px;
}

/** absolute images **/

.robot, .robot-car{
	position: absolute;
	animation: jump 1.5s infinite;
}

.robot {
	width: 70px;
	right: 10px;
	bottom: 0;
}

.robot-car {
	width: 70px;
	right: 5px;
	bottom: -5px;
}

/** keyframes **/

@keyframes jump {
	0% { transform: translateY(0) }
	20% { transform: translateY(-10px) }
	50% { transform: translateY(0) }
	100% { transform: translateY(0) }
}


/*** PSUEDO-CLASSES ***/

nav:hover > ul{
	height: 293px;
}

nav:hover .floor {
	width: 50px;
	background-color: white;
}

nav > ul li:hover {
 	background-color: rgb(225, 200, 47);
}

.direction:hover {
	background-color: rgb(28, 27, 27);
}

.form-data [type="submit"]:hover {
	background-color: white;
	color: rgb(77, 77, 77);
	transform: scale(.95);
}

/**	PSUEDO-ELEMENTS ***/

.head::before {
	content: '';
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 25px solid rgb(109, 170, 197);
	position: absolute;
	top: -24px;
	left: 30px;
}


/** COLORS **/
 
 .header-top, .current, .footer-main, .direction {
	background-color: rgb(28, 27, 27);
 }

 .floor, .floor::after, .floor::before {
	background-color: rgb(67, 64, 64);
 }

 nav > ul li, .header-main p {
 	color: rgb(28, 27, 27);
 }

 .header-main {
 	background-color: rgb(148, 147, 129);
 }

 .header-top, .nav li, footer, .header-main h1,
 .form-data, .form-data [type="submit"], .direction  {
	color: white;
 }

 .lectures, .reference {
 	background-color: rgb(240,240,240);
 }

 .info {
 	background-color: white;
 }

 .head {
 	background-color: rgb(109, 170, 197);
 }

 .parking {
 	background-color: rgba(148, 149, 135, .3);
 }

 .parking-main p > span {
	color: rgba(69, 69, 69, .7);
}

 .parking, .reference {
	color: rgb(69, 69, 69);
}

 .form-data {
	background-color: rgb(149, 150, 136);
 }

 .form-head h2 {
 	color: rgb(225, 200, 47);
 }

 .form-data [type="submit"] {
 	background-color: rgb(77, 77, 77);
 }

 .footer-top {
 	background-color: rgba(50, 50, 50, .5);
 }
